code {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Fira Code", monospace;
  font-variant-ligatures: none;
  font-feature-settings: "calt" 0, "liga" 0, "clig" 0;
  font-size: 0.9em;
  word-break: break-all;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: #24292e;
  background: #ffffff;
}

blockquote {
  background-color: #ddd;
  border-left: 4px solid #4682b4;
  margin: 1.5em 0;
  padding: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  overflow-wrap: anywhere;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid gray;
  padding: 10px;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: #1d2026;
  }

  pre code {
    color: #c9d1d9;
    background: #0d1117;
  }

  blockquote {
    background-color: #1d2026;
  }
}
